/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PP Pangram Sans';
}


.header-title h1 {
	font-size: 2.2em;
	font-weight: 900;
	text-transform: uppercase;
	padding: 30px;
	color: rgb(255, 255, 255);
	background: #8305b9;

}

.aesthetics {
	color: white;
	font-weight: 700;
	font-size: 1.2em;
	text-align: center;
	line-height: 85%;
	padding-top: 2%;
}

.in-design {
	display: block;
	font-size: 1.5em;
	color: white;
	font-style: italic;
	font-weight: 500;
	line-height: 95%;
}

.designer {
	margin-top: 10px;
	font-style: italic;
	font-size: 1em;
	padding: 15px;
	font-weight: bold;
	padding-left: 45%;
	
}

.description {
	padding: 15px;
	font-size: 0.9em;
	line-height: 1.4;
	background: #e0f2fe;
	border-left: 5px solid #2563eb;
}


.articles {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	padding: 10px;
}


.article-card {
	padding: 15px;
	width: 100%;
	color: white;
	border-radius: 5px;
	text-align: left;
	transition: transform 0.3s;
	margin-top: 1%;
}

.article-card:hover {
	transform: scale(1.03);
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
.article-card:nth-child(1) { background-color: #2563eb; }
.article-card:nth-child(2) { background-color: #10b981; }
.article-card:nth-child(3) { background-color: #f59e0b; }

.article-number {
    font-size: 1.5em;
    font-weight: bold;
}

.article-card h2 {
	font-size: 1.3em;
	color: white;
}

.article-card h3 {
	font-size: 1em;
	color: #ffffff;
	font-weight: 600;
}

p{
	font-size: 0.9em;
	padding-top: 5%;
	line-height: 1.4;

}
.navbar {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
	background-color: #000000;
}

.navbar li {
	margin: 0;
}

.navbar a {
	text-decoration: none;
	color: white;
	padding: 10px 13px;
	display: block;
	justify-content:center;
}

.navbar a:hover {
	background-color: #555;
	color: #fff;
}


.buttons {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: 10px;
}

button {
	background-color: #1e3a8a;
	border: none;
	color: white;
	padding: 8px;
	border-radius: 5px;
}

button:hover { background-color: #122c6b; }

/* Footer */
/* footer {
	background: #222;
	color: #eee;
	text-align: center;
	padding: 20px;
	font-size: 0.9em;
	margin-bottom: 2%;
	margin-top: 2%;

} */ 
